.dice-symbol {
    display: inline-flex;
    font-family: 'Genesys';
    svg {
        width: 1em;
        height: 1em;
        fill: currentColor;
        stroke: currentColor;
        stroke-width: 1;
    }
}

@font-face {
    font-family: 'Genesys';
    src: url('../../assets/genesys.woff2') format('woff2'),
         url('../../assets/genesys.woff') format('woff');
}
