[media pointer="file-service://file-Qx1qwy9tyW7hyDkog2nfcD"]
@width-min: 360px;
@width-max: 600px;
@height-min: 600px;
@height-max: 900px;

html, body {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
#app {
    position: relative;
    height: 100%;
    display: flex;
    padding: @padding;
    flex-direction: column;
    flex: 1 1 auto;

    > svg.nav-button {
        position: absolute;
        height: 2rem;
        margin-top: 0.5rem;
    }

    > h1 {
        margin: 4px 0 @padding 0;
        font-family: genesys-header;
        font-size: 3rem;

        @media (min-width: 48rem) {
            font-size: 4rem;
        }

        text-align: center;
        @media (min-width: 24rem) {
            text-align: left;
            margin-left: 3.2rem;
        }

        .logo {
            display: inline-block;
            height: 1.2em;
            width: 2.88em;
            margin-right: 0.5rem;
            background: data-uri("assets/logo.png") center/contain no-repeat;
            background: data-uri("assets/logo.png") center/auto 100% no-repeat;
            text-indent: -9999px;
            vertical-align: middle;
        }
    }

    > * { flex: 0 0 auto; }
    > .dice-area { flex-grow: 1; }
}

.dice-area {
    display: flex;
    flex-direction: column;

    > * { flex: 0 0 auto; margin: @padding 0 0; }
    > .dice-list { flex-grow: 1; }
}

